.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-content {
  height: 80vh;
  width: 70vw;
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
}
