.palette {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  justify-content: center;
  margin: 50px;
}

.color {
  margin: 50px;
}
.color1 {
  background-color: red;
}

.color2 {
  background-color: yellow;
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: white;
}

.color5 {
  background-color: black;
}

.color6 {
  background-color: grey;
}
