* {
  margin: 0;
  padding: 0;
}

html {
  /* background-image: url("./images/bg-waffle03.png"); */
  background-size: cover;
  background: #10344d;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

#__next {
  height: 100vh;
}
