* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  margin: 0;
  background-image: url("/images/bg-waffle03.png");

  background-attachment: fixed;
}

button {
  cursor: pointer;
}

#__next {
  height: 100vh;
}
